.timeline__figure div:first-of-type::after {
  position: absolute;
  content: "Oct 2024";
  white-space: nowrap;
  width: fit-content;
  bottom: -40px;
}
.timeline__figure div:nth-child(3)::after {
  position: absolute;
  white-space: nowrap;
  bottom: -40px;
  content: "Nov 2024";
}
