.hero__image-content img {
  width: clamp(300px, 20vw, 400px);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(2rem, 10vw, 3rem);
  margin-top: 30px;
}

.experience__card {
  position: relative;
  overflow: hidden;
  min-width: 200px;
}

.card-display {
  height: 200px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}
.card-description {
  transition: all 0.5s ease;
  background: var(--bg-color);
}

.card-overflow-border {
  overflow: hidden;
  margin: 10px;
  border-radius: 10px;
}

.card__text-content::after {
  content: "View project →";
  position: absolute;
  bottom: -20px;
  left: 20px;
  opacity: 0;
  transition: all 0.5s ease;
}

/* ALL ANIMATION CHANGES FROM CARD HOVER */
.experience__card:hover {
  .card-description {
    transform: translateY(-30px);
  }

  .card-img-desktop {
    transform: translate(40px, 90px);
  }

  .card-display {
    transform: translateY(-30px);
  }
  .card__text-content::after {
    opacity: 1;
  }
  .graphics-display__left-col {
    transform: translateY(20px);
  }
  .graphics-display__right-col {
    transform: translateY(10px);
  }
  .card-img-mobile {
    transform: translateY(20px);
  }
}
.card__text-content {
  padding: 20px;
}
.job-title {
  margin-top: 2px;
}
.job-description {
  margin-top: 16px;
}

.card-img-desktop {
  width: clamp(120px, 20vw, 600px);
  transition: transform 0.5s ease;
  transform: translate(40px, 40px);
  position: absolute;
  bottom: 0;
  right: 0;
}
.card-img-mobile {
  width: clamp(180px, 20vw, 200px);
  display: none;
  position: absolute;
  border-radius: 10px 0px;
  /* transition: all 0.5s ease; */
}
.gmb-asset3 {
  bottom: -150px;
  right: -2px;
}
.stashIt-asset3 {
  bottom: -90px;
  right: -2px;
}
.stashIt-asset2 {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 240px;
  border-radius: 0 10px;
}
.stashIt-asset1 {
  position: absolute;
  bottom: -2px;
  right: -2px;
  /* width: 240px; */
}
/* .gmb-asset1 {
  transform: translateY(-2px);
  position: absolute;
  bottom: -2px;
  right: -2px;
} */
.gmb-asset2 {
  position: absolute;
  bottom: -20px;
  right: 0;
  /* width: 70%; */
}

.job-details {
  color: black;
  display: none;
}

.graphic-img__container {
  width: 80%;
  min-width: 140px;
}

.graphic-img {
  width: 100%;
}

.graphics-display {
  display: flex;
  gap: 2rem;
}

.links__content h1 {
  margin-top: 20px;
}
.links__items {
  margin-top: 16px;
}
.links__items li a {
  font-size: 1.6rem;
}

@media screen and (max-width: 1310px) {
  .experience__content {
    grid-template-columns: 1fr 1fr;
  }
  .card-img-desktop {
    width: 350px;
    transform: translate(40px, 30px);
  }
}

@media screen and (max-width: 1230px) {
  .experience__card:hover {
    .card__text-content::after {
      opacity: 1;
    }
    .graphics-display__left-col {
      transform: translateY(20px);
    }
    .graphics-display__right-col {
      transform: translateY(10px);
    }
  }

  .gmb-asset1 {
    position: absolute;
    bottom: -5px;
    right: 0;
  }
  .gmb-asset2 {
    display: none;
  }
  .stashIt-asset1 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .stashIt-asset2 {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .experience__content {
    grid-template-columns: 1fr;
  }
}
