@import url(subPageStyling/nav.css);
@import url(subPageStyling/project__demo.css);
@import url(subPageStyling/project__steps.css);
@import url(subPageStyling/first.css);
@import url(subPageStyling/second.css);
@import url(subPageStyling/third.css);
@import url(subPageStyling/fourth.css);
@import url(subPageStyling/utilities.css);
@import url(subPageStyling/next__btn.css);

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
