body {
  background: #2c303a;
  color: white;
}

/* introducing project */
.stashItLogo__container {
  width: 70%;
}
.stashItLogo {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(2%)
    hue-rotate(255deg) brightness(109%) contrast(101%);
}

/* stash it images layout for first step */

.firstImg__layout {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 1000px) {
  .firstImg__layout {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .firstImg__layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 450px) {
  .first .firstImg__layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* stash it images layout for second step */

.secondImg__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.designs {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .second .secondImg__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .secondImg__layout {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .secondImg__layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

/* stash it third step images layout */

.thirdImg__layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.finalDesigns {
  width: 100%;
}

.dropdownMenu {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: -1;
  margin-top: -180px;
}

@media only screen and (max-width: 1200px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -140px;
  }
}

@media only screen and (max-width: 804px) {
  .thirdImg__layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -55px;
  }
}

@media only screen and (max-width: 1000px) {
  .thirdImg__layout {
    display: grid;
    gap: 3rem;
  }
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -110px;
  }
}

@media only screen and (max-width: 600px) {
  .thirdImg__layout {
    display: grid;
    gap: 2rem;
  }

  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -80px;
  }
}

@media only screen and (max-width: 450px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -60px;
  }
}

@media only screen and (max-width: 430px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -40px;
  }
}

/* main media queries */

@media only screen and (max-width: 700px) {
  .stashIt__header {
    font-size: 6rem;
  }
  .project__demo .stashItLogo__container {
    width: 90%;
  }
}

@media only screen and (max-width: 470px) {
  .stashIt__header {
    font-size: 4.7rem;
  }
}
@media only screen and (max-width: 450px) {
  .project__demo .stashItLogo__container {
    /* width: 250px; */
  }
}

@media only screen and (max-width: 400px) {
  .project__demo .stashItLogo__container {
    /* width: 300px; */
  }
}
