* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

:root {
  --light-green: rgba(184, 203, 132, 0.43);
  --light-red: rgba(255, 190, 190, 1);
  --light-blue: rgba(138, 153, 203, 1);
}
/* UTILITIES */
.project__header {
  font-size: 6rem;
  letter-spacing: 5px;
  font-weight: 700;
}

.project__demo {
  /* font-size: 5rem; */
}
body {
  background: beige;
}
/* NAVBAR */
.navbar {
  height: 100px;
  background: beige;
}

.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 2rem;
  font-size: 1.5rem;
  color: black;
}

.navbar__items {
  color: black;
}

/* CONTENT */
.content {
  margin: 0rem 8rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 8rem;
  align-items: center;
}

.stashIt__header {
  font-size: 8rem;
  font-weight: 700;
  transform: translateY(50px);
}
.project__demo {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  text-align: center;
}

.project__description {
  font-size: 2rem;
}

.project__display {
  position: relative;
}

.phoneImg__container {
  width: 200px;
}

.laptop__autoplay {
  position: relative;
}
.phoneImg {
  width: 100%;
}

.laptopPhoneAutoplay__container {
  height: calc(58vw - 155px);
  min-height: 207px;
}

.laptop__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 600px; */
  /* margin: 4rem; */
}

.laptopImg__container {
  position: relative;
  min-width: 360px;
}

.laptopPhoneAutoplay__container .laptopImg__container .laptopImg {
  width: 100%;
}

.laptopVid__container {
  position: absolute;
  width: calc(76vw - 202px);
  height: calc(47vw - 118px);
  min-width: 271px;
  min-height: 173px;
  transform: translate(-1px, -26px);
  overflow: hidden;
}

.laptopPhoneAutoplay__container .laptopVid__container video {
  width: 100%;
}

.phone__container {
  display: flex;
  justify-content: center;
}

.phoneImg__container {
  width: 250px;
  position: relative;
  z-index: 4;
  top: -480px;
  right: -80%;
}

.phoneImg {
  width: 100%;
}
.phoneVid__container {
  position: absolute;
  height: 96%;
  width: 94%;
  transform: translate(8px, 8px);
  z-index: -2;
  left: 0;
  top: 0;
  border-radius: 25px;
  overflow: hidden;
}

.phoneVid__container video {
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .laptopVid__container {
    width: calc(76vw - 201px);
    height: calc(47vw - 117px);
    transform: translate(0px, -21px);
  }

  .phoneImg__container {
    width: 200px;
    position: relative;
    z-index: 4;
    top: -400px;
    right: -80%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96%;
    width: 94%;
    transform: translate(6px, 6px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 22px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1083px) {
  .laptopVid__container {
    transform: translateY(-17px);
  }
}

@media only screen and (max-width: 1000px) {
  .laptopVid__container {
    width: calc(76vw - 200px);
    height: calc(47vw - 117px);
    transform: translate(0, -17px);
  }

  .phoneImg__container {
    transform: translate(20px, 60px);
    width: 180px;
  }
  .phoneImg__container {
    width: 180px;
    position: relative;
    z-index: 4;
    top: -400px;
    right: -74%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96%;
    width: 94%;
    transform: translate(6px, 6px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .laptopVid__container {
    transform: translateY(-15px);
  }

  .phoneImg__container {
    width: 150px;
    position: relative;
    z-index: 4;
    top: -350px;
    right: -74%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96%;
    width: 94%;
    transform: translate(4px, 3px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 18px;
  }
}

@media only screen and (max-width: 700px) {
  .laptop__container .laptopVid__container {
    width: calc(76vw - 196px);
    height: calc(46vw - 110px);
    transform: translateY(-13px);
  }
}

@media only screen and (max-width: 800px) {
  .laptopVid__container {
    width: calc(76vw - 199px);
    height: calc(46vw - 111px);
    transform: translateY(-13px);
  }

  .phoneImg__container {
    width: 110px;
    position: relative;
    z-index: 4;
    top: -280px;
    right: -75%;
  }

  .phoneVid__container {
    position: absolute;
    height: 95%;
    width: 94%;
    transform: translate(4px, 3px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 11px;
  }
}
@media only screen and (max-width: 700px) {
  .phoneImg__container {
    width: 90px;
    position: relative;
    z-index: 4;
    top: -240px;
    right: -75%;
  }

  .phoneVid__container {
    position: absolute;
    height: 94.6%;
    width: 95.5%;
    transform: translate(1px, 1px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 11px;
  }
}
@media only screen and (max-width: 600px) {
  .laptop__container .laptopVid__container {
    width: calc(76vw - 196px);
    height: calc(46vw - 123px);
    transform: translateY(-13px);
  }
}

.project__actions {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.viewSite {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  background: var(--light-green);
}

.viewCode {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  background: var(--light-red);
}

.project__steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.project__how {
  font-size: 8rem;
  font-weight: 700;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 500;
  font-size: 3rem;
}

.first {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.firstImg__layout {
  display: grid;

  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.firstImg {
  width: 100%;
}

.second {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.secondImg__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 5rem;
}

.design1 {
  width: 100%;
}

.design2 {
  width: 100%;
}

.design3 {
  width: 100%;
  /* margin-top: -50px; */
}
.design4 {
  width: 100%;
}

.third {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.thirdImg__layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.finalDesignDesktop {
  width: 100%;
}
.finalDesignMobile {
  width: 100%;
}

.dropdownMenu {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: -1;
  margin-top: -180px;
}

.fourth {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.next__project {
  padding: 30px 60px 30px 60px;
  font-size: 3rem;
  border: none;
  border-radius: 25px;
  background: var(--light-blue);
  color: white;
}

.next__project p {
  width: 300px;
}
