@import url(sections/first.css);
@import url(sections/second.css);
@import url(sections/third.css);
@import url(sections/fourth.css);
@import url(sections/utilitiesMain.css);
@import url(sections/project__demo.css);
@import url(sections/project__steps.css);
@import url(sections/next__btn.css);

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

:root {
  --light-green: rgba(184, 203, 132, 0.43);
  --light-red: rgba(255, 190, 190, 1);
  --light-blue: rgba(138, 153, 203, 1);
}
