@font-face {
  font-family: myFont;
  src: url(RubikDoodleShadow-Regular.ttf);
}

.navbar__items {
  color: black;
}
.navbar__items::after {
  background: black;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(221, 215, 198),
    rgb(218, 246, 215),
    rgb(249, 222, 237),
    rgb(196, 236, 253),
    rgb(249, 222, 237),
    rgb(218, 246, 215),
    rgb(221, 215, 198)
  );

  background-size: 300%;
  animation: animate-gradient 30s linear infinite;
  color: black;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 30% 75%;
  }
  100% {
    background-position: 140% 50%;
  }
}

.project__name {
  font-size: 7rem;
  font-weight: 800;
  font-family: myFont;
}

.colorzActions {
  color: black;
  background: white;
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: 25px;
  border: inherit;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  position: relative;
  font-weight: 100;
}

.viewSite-colorz:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
}
.viewSite-colorz:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

.viewCode-colorz:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
}
.viewCode-colorz:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

.next__project {
  padding: 30px 60px 30px 60px;
  font-size: 3rem;
  border: none;
  border-radius: 25px;
  border: 1px solid black;
  color: black;
  background: none;
  transition: all 0.3s ease;
  font-weight: 800;
}

.next__project:hover {
  box-shadow: 0px 0px 20px black;
  transition: all 0.3s ease;
}
.next__project p {
  width: 300px;
  text-align: center;
}

.next__btn {
  padding-bottom: 10rem;
}

@media screen and (max-width: 600px) {
  .next__project {
    padding: 30px 40px 30px 40px;
    font-size: 1rem;

    border-radifus: 25px;
  }
  .next__project p {
    width: 100px;
  }
  .next__btn {
    padding-bottom: 6rem;
  }
}

@media only screen and (max-width: 550px) {
  .colorzActions:hover {
    background: none;
    transition: all 0.2s ease;
    letter-spacing: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .project__demo .project__actions {
    gap: 2rem;
  }

  .project__actions .viewSite {
    padding: 15px;
    font-size: 1.4rem;
  }

  .project__actions .viewCode {
    padding: 15px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .next__btn {
    padding-bottom: 4rem;
  }
}
