@font-face {
  font-family: myFont;
  src: url(RubikDoodleShadow-Regular.ttf);
}

.navbar__items {
  color: black;
}
.navbar__items::after {
  background: black;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(221, 215, 198),
    rgb(218, 246, 215),
    rgb(249, 222, 237),
    rgb(196, 236, 253),
    rgb(249, 222, 237),
    rgb(218, 246, 215),
    rgb(221, 215, 198)
  );

  background-size: 300%;
  animation: animate-gradient 30s linear infinite;
  color: black;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 25%;
  }
  50% {
    background-position: 30% 75%;
  }
  100% {
    background-position: 140% 50%;
  }
}

.project__name {
  font-family: myFont;
}

.colorzActions {
  color: black;
  background: white;
  position: absolute;
  inset: -2px;
  background-origin: border-box;
  border-radius: 25px;
  border: inherit;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  position: relative;
  font-weight: 100;
}

.colorzActions:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
}
.colorzActions:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

.full__container {
  width: 100%;
}

.next__project {
  color: black;
}
.next__project::after {
  color: black;
}

@media only screen and (max-width: 550px) {
  .colorzActions:hover {
    background: none;
    transition: all 0.2s ease;
    letter-spacing: 0px;
  }
}
