.first {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0rem 8rem 0rem 8rem;
}

.firstImg__container {
  /* width: 100%; */
  display: flex;
  gap: 3rem;
}

.lofiImg__container {
  width: 100%;
}
.lofi2Img__container {
  width: 100%;
}
.firstImg {
  width: 100%;
}
.firstImg {
  width: 100%;
}
.secondImg {
  width: 100%;
}

@media only screen and (max-width: 804px) {
  .first {
    margin: 0rem 4rem 0rem 4rem;
  }
  .firstImg__container {
    /* width: 100%; */
    display: flex;
    gap: 2rem;
  }
}

@media only screen and (max-width: 430px) {
  .first {
    margin: 0rem 1rem 0rem 1rem;
  }
  .firstImg__container {
    /* width: 100%; */
    display: flex;
    gap: 1rem;
  }
}
