.project__steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  margin: 0rem 7rem 0rem 7rem;
}
.project__how {
  font-size: 8rem;
  font-weight: 700;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-weight: 300;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1083px) {
  .project__steps .project__how {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 804px) {
  .projectSteps__container .steps {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    font-weight: 500;
    font-size: 4vw;
  }

  .project__steps {
    margin: 0rem 4rem 0rem 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .project__steps {
    margin: 0rem 4rem 0rem 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .project__steps .project__how {
    font-size: 3rem;
    text-align: center;
  }

  .projectSteps__container .steps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
