.first {
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0rem 8rem 0rem 8rem;
}

.firstImg__layout {
  display: grid;

  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}

.firstImg {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .firstImg__layout {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .firstImg__layout {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 804px) {
  .first {
    margin: 0rem 4rem 0rem 4rem;
  }
}

@media only screen and (max-width: 450px) {
  .first .firstImg__layout {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 430px) {
  .first {
    margin: 0rem 1rem 0rem 1rem;
  }
}
