.stashItLogo__container {
  width: 700px;
}
.stashItLogo {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(97%) sepia(0%) saturate(2%)
    hue-rotate(255deg) brightness(109%) contrast(101%);
}

.stashIt__details {
  display: flex;
  gap: 5rem;
}

.timeline__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.role__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  /* text-align: right; */
}

.role__container p {
  width: 150px;
  /* border: 2px solid red; */
}
.project__demo {
  margin: 4rem 8rem 0rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  /* text-align: center; */
}

.project__description {
  font-size: 2rem;
}

.project__display {
  position: relative;
}

.phoneImg__container {
  width: 200px;
}

.laptop__autoplay {
  position: relative;
}
.phoneImg {
  width: 100%;
}

.laptopPhoneAutoplay__container {
  height: calc(58vw - 155px);
  /* min-height: 207px; */
}

.laptop__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 600px; */
  /* margin: 4rem; */
}

.laptopImg__container {
  position: relative;
  /* min-width: 360px; */
}

.laptopPhoneAutoplay__container .laptopImg__container .laptopImg {
  width: 100%;
}

.laptopVid__container {
  position: absolute;
  width: calc(76vw - 202px);
  height: calc(47vw - 118px);
  min-width: 248px;
  /* min-height: 200px; */
  transform: translate(-1px, -26px);
  overflow: hidden;
}

.laptopPhoneAutoplay__container .laptopVid__container video {
  width: 100%;
}

.phone__container {
  display: flex;
  justify-content: center;
}

.phoneImg__container {
  width: 250px;
  position: relative;
  z-index: 4;
  top: -480px;
  right: -80%;
}

.phoneImg {
  width: 100%;
}
.phoneVid__container {
  position: absolute;
  height: 96.6%;
  width: 94%;
  transform: translate(8px, 8px);
  z-index: -2;
  left: 0;
  top: 0;
  border-radius: 25px;
  overflow: hidden;
}

.phoneVid__container video {
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 1200px) {
  .laptopVid__container {
    width: calc(76vw - 201px);
    height: calc(47vw - 117px);
    transform: translate(0px, -21px);
  }
  .stashItLogo__container {
    width: 500px;
  }
  .phoneImg__container {
    width: 200px;
    position: relative;
    z-index: 4;
    top: -400px;
    right: -80%;
  }

  .phoneVid__container {
    position: absolute;

    width: 94%;
    transform: translate(6px, 6px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 18px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 1083px) {
  .laptopVid__container {
    transform: translateY(-17px);
  }
}

@media only screen and (max-width: 1000px) {
  .laptopVid__container {
    width: calc(76vw - 200px);
    height: calc(47vw - 117px);
    transform: translate(0, -17px);
  }

  .phoneImg__container {
    transform: translate(20px, 60px);
    width: 180px;
  }
  .phoneImg__container {
    width: 180px;
    position: relative;
    z-index: 4;
    top: -400px;
    right: -74%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96%;
    width: 94%;
    transform: translate(6px, 6px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 18px;
  }
  .project__description {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .laptopVid__container {
    transform: translateY(-15px);
  }

  .phoneImg__container {
    width: 150px;
    position: relative;
    z-index: 4;
    top: -350px;
    right: -74%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96.6%;
    width: 94%;
    transform: translate(4px, 3.5px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 18px;
  }
}

@media only screen and (max-width: 804px) {
  .laptopVid__container {
    width: calc(73vw - 79px);
    height: calc(49vw - 68px);
    transform: translate(0, -13px);
  }

  .laptopPhoneAutoplay__container {
    height: calc(55vw - 60px);
  }
  .project__demo {
    margin: 2rem 4rem 0rem 4rem;
  }
}

@media only screen and (max-width: 800px) {
  .phoneImg__container {
    width: 110px;
    position: relative;
    z-index: 4;
    top: -280px;
    right: -75%;
  }

  .phoneVid__container {
    position: absolute;
    height: 96%;
    width: 94%;
    transform: translate(4px, 3px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 11px;
  }
}
@media only screen and (max-width: 700px) {
  .phoneImg__container {
    width: 90px;
    position: relative;
    z-index: 4;
    top: -240px;
    right: -75%;
  }
  .stashIt__header {
    font-size: 6rem;
  }
  .phoneVid__container {
    position: absolute;
    height: 94.9%;
    width: 94.5%;
    transform: translate(2px, 2.7px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 9px;
  }
  .project__demo .project__actions {
    gap: 4rem;
  }
  .project__description {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .laptop__container .laptopVid__container {
    /* width: 312px; */
    /* height: 190px; */
    transform: translate(0px, -13px);
  }
  .project__demo .stashItLogo__container {
    width: 400px;
  }

  .project__description {
    text-align: center;
  }

  .project__demo {
    gap: 2rem;
  }
}

@media only screen and (max-width: 540px) {
  .laptop__container .laptopVid__container {
    /* width: calc(76vw - 196px); */
    /* height: calc(46vw - 123px); */
    width: 312px;
    height: 200px;
    transform: translateY(-12px);
  }
  .phoneVid__container {
    position: absolute;
    height: 94.8%;
    width: 95%;
    transform: translate(2px, 3px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 9px;
  }

  .laptopPhoneAutoplay__container {
    /* height: calc(55vw - 60px); */
    height: 238px;
    /* min-height: 207px; */
  }
  .project__description {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  .stashIt__header {
    font-size: 4.7rem;
  }
}
@media only screen and (max-width: 450px) {
  .laptopImg__container {
    width: 380px;
  }

  .laptop__container .laptopVid__container {
    position: absolute;
    width: 286px;
    height: 180px;

    transform: translate(0px, -9px);
    overflow: hidden;
  }
  .phoneImg__container {
    width: 90px;
    position: relative;
    z-index: 4;
    top: -240px;
    right: -65%;
  }
  .laptopPhoneAutoplay__container {
    /* height: calc(55vw - 60px); */
    height: 220px;
    min-height: 207px;
  }

  .project__demo .project__actions {
    gap: 2rem;
  }

  .project__actions .viewSite {
    padding: 15px;
    font-size: 1.4rem;
  }

  .project__actions .viewCode {
    padding: 15px;
    font-size: 1.4rem;
  }
  .project__demo .stashItLogo__container {
    width: 250px;
  }
}
@media only screen and (max-width: 415px) {
  .phoneVid__container {
    position: absolute;
    height: 94.8%;
    width: 94.7%;
    transform: translate(2px, 2.5px);
    z-index: -2;
    left: 0;
    top: 0;
    border-radius: 9px;
  }
}
@media only screen and (max-width: 400px) {
  .laptopImg__container {
    width: 330px;
  }

  .laptop__container .laptopVid__container {
    position: absolute;
    width: 240px;
    height: 160px;
    transform: translate(0px, -10px);
    overflow: hidden;
  }
  .laptopPhoneAutoplay__container {
    /* height: calc(55vw - 60px); */
    height: 193px;
    /* min-height: 207px; */
  }
  .project__demo {
    margin-top: 2rem;
  }
  .project__demo .stashItLogo__container {
    width: 300px;
  }
  .project__description {
    font-size: 0.8rem;
  }
  .stashIt__details {
    display: flex;
    gap: 1.9rem;
    font-size: 0.7rem;
  }
}

.project__actions {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.viewSite {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.viewCode {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: white;
  background: none;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.viewSite:hover {
  background: white;
  color: #16181d;
  transition: all 0.3s ease;
}
.viewCode:hover {
  background: white;
  color: #16181d;
  transition: all 0.3s ease;
}
