.third {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0rem 8rem 0rem 8rem;
  gap: 3rem;
}

.thirdImg__layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
}

.finalDesignDesktop {
  width: 100%;
}
.finalDesignMobile {
  width: 100%;
}

.dropdownMenu {
  width: 100%;
  grid-column-start: 2;
  grid-column-end: -1;
  margin-top: -180px;
}

@media only screen and (max-width: 1200px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -140px;
  }
}

@media only screen and (max-width: 804px) {
  .third {
    margin: 0rem 0.5rem 0rem 0.5rem;
  }

  .thirdImg__layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -55px;
  }
}

@media only screen and (max-width: 1000px) {
  .thirdImg__layout {
    display: grid;
    gap: 3rem;
  }
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -110px;
  }
}

@media only screen and (max-width: 600px) {
  .thirdImg__layout {
    display: grid;
    gap: 2rem;
  }

  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -80px;
  }
}

@media only screen and (max-width: 450px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -60px;
  }
}

@media only screen and (max-width: 400px) {
  .dropdownMenu {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -1;
    margin-top: -40px;
  }
}
