.about {
  display: flex;
  justify-content: center;
  margin: 10rem;
}
.about__content {
  display: flex;
  justify-content: center;
  gap: 6rem;
  max-width: 1600px;
}

.profileImg__crop {
  width: 300px;
  display: flex;
  border-radius: 275px;
  overflow: hidden;
}

.profileImg {
  width: 100%;
}

.verticalLine {
  width: 15px;
  background-color: #8a99cb;
}
.aboutText__container {
  font-size: 10vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
}
.aboutText__header {
  white-space: nowrap;
}
.about__description {
  font-size: 2rem;
}
