.hero {
  display: flex;
  justify-content: center;
}

.hero__content {
  margin: 0 10% 0 10%;
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1600px;
  z-index: -1;
}

.topRow {
  display: flex;
  flex-direction: column;
  font-weight: 800;
}
.name {
  white-space: nowrap;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 0;
}
.hi {
  font-size: 10rem;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #ecf1dd;
  transform: translateX(-4000px);
}
.horizontalLine {
  width: 100%;
  height: 10px;
  background: #8a99cb;
  opacity: 0;
}

.jobTitle {
  font-size: 7rem;
  font-weight: 500;
  white-space: nowrap;
  transform: translateX(3000px);
}

.location {
  font-size: 6.7rem;
  font-weight: 100;
  transform: translateX(-3000px);
}

.char {
  transform: translateY(150px);
  transition: transform 0.5s;
  opacity: 0;
}

@media screen and (max-width: 1000px) {
  .char {
    transform: translateY(0px);
  }
  .hero__content .horizontalLine {
    opacity: 1;
  }
  .location {
    transform: translateX(0px);
  }
  .jobTitle {
    transform: translateX(0px);
  }
}
