.project__content {
  margin: 0rem 10%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project__intro {
  transform: translateX(-1000px);
  opacity: 0;
}
.project__links {
  text-decoration: none;
  color: black;
  display: grid;
}

.project__links-left-1,
.project__links-left-2 {
  transform: translateX(50%);
}
.project__links-right-1,
.project__links-right-2 {
  transform: translateX(-50%);
}

.project__container {
  /* margin-top: 8rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.project__item {
  height: 375px;
  background: white;
  border-radius: 40px;
  overflow: hidden;
}

.projectImg__container {
  width: 300px;
}

.project__img {
  width: 500px;
  margin-left: 40px;
}

.project__details {
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project__text {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.project__name {
  font-weight: 700;
  font-size: 1.8rem;
}

.project__title {
  font-size: 1.2rem;
}

.stashIt {
  background: rgb(89, 102, 122);
}

.gmb {
  background: rgb(101, 199, 255);
}

.portfolio {
  background: rgb(255, 249, 165);
}

.colorz {
  background: rgba(255, 185, 185);
}

.graphicsChild {
  grid-column: span 2;
  opacity: 0;
  transform: translateY(-10%);
  scale: 0.6;
}
.graphics {
  background: rgb(131, 49, 198);
}

.graphics__details {
  height: min-content;
  margin: 2.5rem 0 3rem 0;
}

.graphics__text {
  text-align: center;
}

.projectImg__background {
  background: white;
  height: 400px;
}

.graphics__img {
  width: 220px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.namePlatesImg {
  width: 260px;
}

.graphicsImg__container {
  display: flex;
  margin: 2rem 0 0 -50px;
  width: 1800px;
  justify-content: flex-start;
  gap: 2rem;
}

.project__item {
  transition: all 0.2s ease;
}
.stashIt:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(64, 75, 91, 0.657);
  transition: all 0.2s ease;
}

.gmb:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(17, 168, 255, 0.782);
  transition: all 0.2s ease;
}

.colorz:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(255, 185, 185, 1);
  transition: all 0.2s ease;
}

.portfolio:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(202, 165, 31, 0.43);
  transition: all 0.2s ease;
}

.graphics:hover {
  scale: 1.05;
  box-shadow: 0px 0px 20px rgba(35, 31, 202, 0.43);
  transition: all 0.2s ease;
}
