.next__project {
  font-size: 6rem;
  color: white;
  background: none;
  transition: all 0.4s ease;
  font-weight: 800;
  display: flex;
  justify-content: center;
  position: relative;
}

.next__project:hover {
  transition: all 0.4s ease;
  margin-left: -40px;
}

.next__project::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 40%;
  top: 25%;
  opacity: 0;
  right: 0;
  color: white;
  transition: all 0.4s ease;
  background-image: url(arrow-symbol.svg);
  background-size: cover;
  transform: rotate(180deg);
}
.next__project:hover::after {
  transition: all 0.4s ease;
  right: -35%;
  opacity: 1;
}

.next__btn {
  padding-bottom: 10rem;
}
@media screen and (min-width: 2000px) {
  .next__project {
    font-size: 10rem;
  }
}
@media screen and (max-width: 800px) {
  .next__project {
    font-size: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .next__btn {
    padding-bottom: 6rem;
  }
  .next__project {
    font-size: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .next__btn {
    padding-bottom: 4rem;
  }
}
