.next__project {
  padding: 10% 0% 10% 0%;
  font-size: 6rem;
  border-radius: 20%;
  color: black;
  background: none;
  transition: all 0.3s ease;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.next__project:hover {
  outline: 1px solid black;
  transition: all 0.1s ease;
}

.next__project p {
  width: 100%;
  text-align: center;
}

.next__btn {
  padding-bottom: 10rem;
}
@media screen and (max-width: 600px) {
  .next__btn {
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 400px) {
  .next__btn {
    padding-bottom: 4rem;
  }
}
