.next__project {
  font-size: 6rem;
  border-radius: 20%;
  color: white;
  background: none;
  transition: all 0.4s ease;
  font-weight: 800;
  display: flex;
  justify-content: center;
  position: relative;
}

.next__project:hover {
  transition: all 0.4s ease;
  margin-left: -40px;
}

.next__project::after {
  content: "→";
  position: absolute;
  top: 0;
  right: -100px;
  color: white;
  opacity: 0;
  transition: all 0.4s ease;
}
.next__project:hover::after {
  transition: all 0.4s ease;
  opacity: 1;
}

.next__btn {
  padding-bottom: 10rem;
}
@media screen and (max-width: 600px) {
  .next__btn {
    padding-bottom: 6rem;
  }
}
@media screen and (max-width: 400px) {
  .next__btn {
    padding-bottom: 4rem;
  }
}
