.content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}

.project__header {
  font-size: calc(5vw + 30px);
  letter-spacing: 5px;
  font-weight: 700;
}

.project__description {
  font-size: 2rem;
  font-weight: 300;
}

.headerDescription__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 1000px) {
  .project__description {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 700px) {
  .project__description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 540px) {
  .project__description {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .project__header {
    font-size: 2.6rem;
    letter-spacing: 1px;
    font-weight: 800;
  }
  .project__description {
    font-size: 0.8rem;
  }
  .headerDescription__container {
    gap: 1rem;
  }
}
