@media screen and (min-width: 1660px) {
  .projects {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1400px) {
  .graphics .graphics__img {
    width: 340px;
  }

  .graphics .graphicsImg__container {
    display: flex;
    margin: 2rem 0 0 -140px;
  }
}

@media screen and (max-width: 1200px) {
  /* UTILITIES */
  .text__header.mobileText__header {
    font-size: 6rem;
  }

  /* NAVBAR + HERO */
  .navbar .navbar__container {
    font-size: 1.6rem;
  }

  .hero__content {
    margin: 60px;
    gap: 2rem;
  }
  .hi {
    display: none;
  }

  .name {
    font-size: 6rem;
    text-align: center;
  }

  .bottomRow {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .jobTitle {
    font-size: 5rem;
  }

  .location {
    font-size: 4rem;
  }

  /* ABOUT */

  .about {
    margin: 60px;
    display: flex;
    justify-content: center;
  }

  .about__content {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .verticalLine {
    position: relative;
    height: 15px;
    width: 90%;
    min-width: 350px;
  }

  .aboutText__container {
    text-align: center;
    width: 100%;
    align-items: center;
    gap: 0rem;
  }

  .aboutText__container .about__description {
    width: 400px;
  }
  .profileImg__crop {
    width: 300px;
  }

  /* PROJECTS */

  .projects .project__content {
    margin: 150px 60px 0px 60px;
  }

  .projectImg__container .project__img {
    width: 1000px;
    margin-left: 40px;
  }

  .project__content .project__container {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 5rem;
  }

  /* CONTACT */
  .contact__header {
    margin: 60px 60px 150px 60px;
    position: relative;
    top: 100px;
  }
  .contact__content {
    margin: 60px;
    gap: 5rem;
    display: flex;
    flex-direction: column;
  }
  .links__col {
    gap: 2rem;
  }
  .links__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .contact__box {
    width: 100%;
  }
  .underlined__header::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: 120px;
    background: lightblue;
  }
}

@media screen and (max-width: 800px) {
  .project__content .project__container {
    margin-top: 4rem;
  }
  .text__header.mobileText__header {
    font-size: 4rem;
  }
  .aboutText__container .about__description {
    width: 300px;
    font-size: 2rem;
  }
  .name {
    font-size: 5rem;
    text-align: center;
  }

  .bottomRow {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .jobTitle {
    font-size: 4rem;
  }

  .location {
    font-size: 4rem;
  }

  .underlined__header::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: 80px;
    background: lightblue;
  }
}

@media screen and (max-width: 750px) {
  .name {
    font-size: 4rem;
    text-align: center;
  }

  .bottomRow {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .jobTitle {
    font-size: 3rem;
  }

  .location {
    font-size: 3rem;
  }
  .projectImg__container .project__img {
    width: 600px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .hero__content {
    gap: 1rem;
  }
  .name {
    font-size: 3rem;
    text-align: center;
  }

  .bottomRow {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }

  .jobTitle {
    font-size: 2rem;
  }

  .location {
    font-size: 2rem;
  }
  .projectImg__container .project__img {
    width: 500px;
    margin-left: 40px;
  }
  .graphics .graphics__img {
    width: 177px;
  }
}

@media screen and (max-width: 450px) {
  /* NAVBAR + HERO */
  .navbar .navbar__container {
    font-size: 1rem;
  }

  .hero__content {
    margin: 0px 20px -20px 20px;
    gap: 1rem;
  }
  .hi {
    display: none;
  }

  .horizontalLine {
    height: 6px;
  }
  .name {
    font-size: 2.3rem;
    text-align: center;
  }

  .bottomRow {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .jobTitle {
    font-size: 2rem;
  }

  .location {
    font-size: 1.8rem;
  }
  .navbar__items.links::after {
    top: 25px;
  }

  /* ABOUT */

  .about {
    display: flex;
    margin: 6rem;
    padding: 0;
  }
  .about__content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .about__content .verticalLine {
    width: 70%;
    min-width: 0;
    height: 8px;
  }

  .aboutText__container {
    text-align: center;
    width: 100%;
    gap: 0.4rem;
    align-items: center;
  }

  .aboutText__container .text__header {
    font-size: 3rem;
    white-space: nowrap;
  }
  .aboutText__container .about__description {
    width: 250px;
    font-size: 1rem;
  }
  .profileImg__crop {
    width: 200px;
  }

  /* PROJECTS */
  .projects .project__content {
    margin: 20px;
  }

  .project__content .text__header {
    font-size: 3rem;
    margin: 0;
  }
  .project__content .project__container {
    grid-template-columns: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
  }

  .project__container .project__item {
    height: 250px;
    border-radius: 40px;
    overflow: hidden;
  }

  .projectImg__container .project__img {
    width: 300px;
    margin-left: 40px;
  }

  .project__item .project__details {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }

  .project__text {
    display: flex;
    flex-direction: column;
    /* width: min-content; */
    text-align: right;
  }

  .project__details .project__name {
    font-weight: 700;
    font-size: 1rem;
  }

  .project__details .project__title {
    font-size: 0.8rem;
  }
  .graphics .graphics__details {
    height: min-content;
    margin: 2rem 0 3rem 0;
  }

  .graphics__text {
    text-align: center;
  }

  .graphics .graphics__img {
    width: 100px;
  }

  .namePlatesImg {
    width: 250px;
  }

  .graphics .graphicsImg__container {
    display: flex;
    margin: 2rem 0 0 -80px;
    width: 900px;
    justify-content: flex-start;
    gap: 1rem;
  }
  /* CONTACT */
  .contact .contact__header {
    margin: 0px 20px 140px 20px;
    position: relative;
    top: 100px;
    font-size: 3rem;
  }
  .contact__content {
    margin: 20px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
  }

  .contact__box {
    width: 100%;
  }

  .contact__details {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contact__details .contact__name p {
    font-size: 1rem;
  }

  .contact__details .contact__email p {
    font-size: 1rem;
  }

  .contact__details .contact__message p {
    font-size: 1rem;
  }
  .contact__info {
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    background: none;
    padding: 10px;
    font-size: 1rem;
  }

  .contact__name {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .contact__name p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .contact__email {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .contact__email p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .contact__message {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .contact__message p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .messageBox {
    height: 300px;
    border-radius: 20px;
    border: 1px solid black;
    background: none;
    padding: 10px;
    font-size: 1rem;
  }

  .submit__btn {
    align-self: flex-end;
  }

  .spotify__content {
    display: flex;
    gap: 1rem;

    margin: 10px 20px;
  }
  .spotify__container {
    width: 100%;
  }

  .links__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .spotifyImg__container {
    width: 45px;
    position: relative;
    top: 8px;
  }

  .links__content {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
  }
  .links__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .links__items .links {
    font-size: 1.5rem;
  }
  .links__items .links::after {
    content: "";
    background: lightcoral;
    height: 2px;
    position: absolute;
    left: 0;
    width: 0;
    top: 35px;
    transition: width 0.1s ease;
  }

  .links__items .links:hover::after {
    width: 100%;
  }
  .links__content .text__header {
    font-size: 3rem;
  }

  .underlined__header::after {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    left: 0;
    top: 60px;
    background: lightblue;
  }
}
