.project__name {
  font-size: 6rem;
  font-weight: 800;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .project__name {
    font-size: 4rem;
    font-weight: 800;
  }
}

@media screen and (max-width: 600px) {
  .project__name {
    font-size: 3rem;
    font-weight: 800;
  }
}

@media screen and (max-width: 400px) {
  .project__name {
    font-size: 2rem;
    font-weight: 800;
  }
}
