@media screen and (max-width: 600px) {
  .next__btn .next__project {
    padding: 30px 40px 30px 40px;
    font-size: 1.6rem;
  }
  .next__btn .next__project p {
    width: 150px;
  }
  .gmb__intro .gmbLogoImg__container {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .projects__container {
    margin: 0rem 4rem;
    gap: 3rem;
  }

  .project__actions {
    gap: 3rem;
  }
  .viewLive {
    padding: 15px;
    font-size: 1.4rem;
  }

  .viewCode {
    padding: 15px;
    font-size: 1.4rem;
  }
  .gmb__intro .gmb__description {
    width: 80%;
  }
  .project__description {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .projects__container {
    margin: 0rem 2rem;

    gap: 2rem;
  }
  .project__actions {
    gap: 2.5rem;
  }
  .next__btn .next__project {
    padding: 30px 20px 30px 20px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .content .gmb__intro {
    margin-top: 1rem;
  }
  .content {
    gap: 4rem;
  }
  .projects__container {
    margin: 0rem 1rem;

    gap: 2rem;
  }
  .project__actions {
    gap: 2rem;
  }
  .gmb__intro .gmbLogoImg__container {
    width: 320px;
  }
  .gmb__intro .gmb__description {
    width: 100%;
  }
  .project__description {
    font-size: 1rem;
  }
  .project__header {
    /* font-size: calc(5vw + 30px); */
    font-size: 2rem;
  }
  .projects__container .headerDescription__container {
    gap: 1rem;
  }
  .content .next__btn {
    padding-bottom: 5rem;
  }

  .navbar__items {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .next__btn {
    padding-bottom: 8rem;
  }
}
@media screen and (max-width: 400px) {
  .next__btn {
    padding-bottom: 6rem;
  }
}
