body {
  background: #c8f5e3;
}

.navbar__items {
  color: black;
}

.navbar__items::after {
  background: black;
}

.firstImg__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.next__project {
  color: black;
}
.viewCode {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: black;
  background: none;
  border: 1px solid black;
  transition: all 0.3s ease;
  font-weight: 100;
}

.viewCode:hover {
  background: black;
  color: white;
  transition: all 0.3s ease;
}

.text-align-left__container {
  width: 84.4%;
}

.next__project::after {
  width: 34%;
  height: 150%;
  top: 2%;
}
.next__project:hover::after {
  right: -31%;
}
