body {
  background-image: linear-gradient(
    to right,
    rgba(216, 65, 129, 0.5),
    rgba(70, 155, 180, 0.5),
    rgba(216, 65, 129, 0.5),
    rgba(70, 155, 180, 0.5)
  );

  background-size: 270%;
  animation: animate-gradient 20s linear infinite;
  color: white;
}

@keyframes animate-gradient {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.gmbLogoImg__container {
  width: 450px;
}

.viewLive:hover {
  color: white;
  background: #28b1de;
  border: 1px solid #28b1de;
  transition: all 0.2s ease-in;
}

@media screen and (max-width: 1000px) {
  .gmbLogoImg__container {
    width: 100%;
  }
}
