@import url(sections/utilities.css);
@import url(sections/main.css);
@import url(sections/media__queries.css);
@import url(sections/gmbIntro.css);
@import url(sections/next__btn.css);

* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Outfit", sans-serif;
  margin: 0;
  text-decoration: none;
  /* transition: all 0.3s; */
}

:root {
  --light-green: rgba(184, 203, 132, 0.43);
  --light-red: rgba(255, 190, 190, 1);
  --light-blue: rgba(138, 153, 203, 1);
}
