.audience-container {
  padding: 30px;
  border-radius: 10px;
}
.circle-outline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 30px;
}

.circle-outline p {
  width: 200px;
}

.timeline__figure div:first-of-type::after {
  position: absolute;
  content: "April 2024";
  white-space: nowrap;
  width: fit-content;
  bottom: -40px;
}
.timeline__figure div:nth-child(3)::after {
  position: absolute;
  bottom: -40px;
  content: "May 2024";
  white-space: nowrap;
}
