.project__details {
  display: flex;
  gap: 5rem;
  font-weight: 200;
}

.timeline__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.role__container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.role__container p {
  width: 150px;
}

.colorzVid {
  width: 100%;
}

.project__name {
  font-size: 7rem;
  font-weight: 800;
}
.project__demo {
  margin: 4rem 8rem 0rem 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.viewSite {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  /* border: none; */
  font-size: 2rem;
  color: black;
  background: white;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  position: relative;
  font-weight: 100;
  /* transition: outline 0.2s ease; */
}

.viewSite:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
}
.viewSite:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  /* border-style: inherit; */

  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}
.viewCode {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  background: black;
  font-size: 2rem;
  color: white;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 100;
}

.viewCode:hover {
  background: none;
  transition: all 0.2s ease;
  letter-spacing: 3px;
}
.viewCode:hover:before {
  content: "";
  background-image: conic-gradient(
    from var(--angle),
    rgb(221, 115, 198),
    rgb(188, 246, 215),
    rgb(255, 161, 213),
    rgb(25, 151, 205),
    rgb(188, 246, 215),
    rgb(255, 161, 213)
  );
  position: absolute;
  inset: -2px;
  z-index: -1;
  background-origin: border-box;
  border-radius: inherit;
  border: inherit;
  /* border-style: inherit; */

  mask-image: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  animation: spin 3s linear infinite;
}
.project__actions {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

@media only screen and (max-width: 550px) {
  .viewCode:hover {
    background: none;
    transition: all 0.2s ease;
    letter-spacing: 0px;
  }
  .viewSite:hover {
    background: none;
    transition: all 0.2s ease;
    letter-spacing: 0px;
  }
}
@media only screen and (max-width: 804px) {
  .project__demo {
    margin: 2rem 4rem 0rem 4rem;
  }
  .project__name {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 700px) {
  .project__demo .project__actions {
    gap: 4rem;
  }
  .project__name {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .project__demo {
    gap: 2rem;
  }
  .project__name {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .project__demo .project__actions {
    gap: 2rem;
  }

  .project__actions .viewSite {
    padding: 15px;
    font-size: 1.4rem;
  }

  .project__actions .viewCode {
    padding: 15px;
    font-size: 1.4rem;
  }
  .project__name {
    font-size: 4rem;
  }
}
